---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import Badge from '../components/Badge.astro';
import profilePhoto from '../assets/alvaro.jpg';

import SocialPills from '../components/SocialPills.astro';
import LinkedInIcon from '../assets/icons/LinkedInIcon.astro';
import GitHubIcon from '../assets/icons/GitHubIcon.astro';
import MailIcon from '../assets/icons/MailIcon.astro';
import Experience from '../components/Experience.astro';

const linkedInUrl = "https://www.linkedin.com/in/%C3%A1lvaro-g%C3%B3mez-a4996436a/";
const gitHubUrl = "https://github.com/4lvaroo";
const mailUrl = "mailto:alvarogd548@gmail.com";

---

<Layout title="Portfolio - Álvaro Gómez">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img class="rounded-full size-12 mb-5" src={profilePhoto.src} alt="Álvaro photo"/>
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hi, I'm <span class="text-[#63e] opacity-80">Álvaro Gómez</span>
				<a href={ linkedInUrl } target="_blank" rel="noopener noreferrer" class="flex justify-center items-center" >
					<Badge>Looking for hire</Badge>
				</a>
			</h1>
			<h2 class="text-2xl text-wrap">
				I'm a full-stack developer with a passion for creating web applications and a ambition for learning new technologies. I specialize in building scalable and efficient solutions that enhance user experiences.
			</h2>
			<nav class="flex gap-x-2 mt-8">
				<SocialPills href={ linkedInUrl }>
					<LinkedInIcon class="size-6" />
					LinkedIn
				</SocialPills>
				<SocialPills href={ gitHubUrl }>
					<GitHubIcon class="size-6" />
					GitHub
				</SocialPills>
				<SocialPills href={ mailUrl }>
					<MailIcon class="size-6" />
					alvarogd548@gmail.com
				</SocialPills>
			</nav>
		</section>

		<section>
			<Experience />
		</section>
	</main>
</Layout>
